/*Global*/

body {
    height: 100vh;
}

main {
    text-align: center;
    width: 100%;
}
/*Contact*/

.contact-info {
    width: 45%;
    margin: 0 auto;
}

main #phone-number {
    border: 1px black solid;
    margin-bottom: 50px;
    margin-top: 50px;

}



main #email {
    border: 1px black solid;
}

/*Github*/

main .github {
    margin-top: 50px;
}






