/*Global*/



main {
    width: 50%;
    margin: 0 auto;
    position: relative;

}

@media only screen and (max-width: 43.75rem) {
    main {
        width: 100%;
        margin: 0;
    }

    main h1 {
        padding-left: 10px;
    }
}

@media only screen and (max-width: 18.125rem) {
    main h1 {
        font-size: 1.5rem;
    }
}







/*Profile Image*/

main .profile-container {
    width: 100%;
}

main .profile-container .feature {
    width: 500px;
    height: 500px;
}
main .profile-container {
    display: flex;
    width: 100%;
    justify-content: center;
    
    

}

main img {
    max-width: 100%;
    height: auto;
    width: 100%;
}


@media only screen and (max-width: 28.125rem) {
    main .profile-container .feature {
        height: auto;
    }

}


@media only screen and (max-width: 38.75rem) {
    main .profile-container {
        width: 80%;
        padding: 0 10%;
    }
}

/*About me*/

main #about-me {
    margin-top: 100px;
    font-size: 1.375rem;
    
}

main span {
    margin-left: 4em;
}

@media only screen and (max-width: 43.75rem) {
    main #about-me {
       font-size: 1rem;
    }
}

@media only screen and (max-width: 23.75rem) {
    main #about-me {
        padding: 10px;
    }
}

@media only screen and (max-width: 15.625rem) {
    main #about-me {
        margin-top: 0;
    }
}

/*Projects*/

main #projects {
    max-width: 700px;
    margin: 0 auto;
    
}

main #projects .feature {
    margin: 50px auto;

}

main #projects .feature .project-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

main #projects .feature .project-container .project {
    height: 356px;
    width: 700px;
}

main #projects .feature img {
border: 2px black solid;
width: 100%;
height: auto;
}

main #projects h3 {
    text-align: center;
}

@media only screen and (max-width: 43.75rem) {
    main #projects .feature .project-container {
        width: 98%;
        padding: 0 1%;
        margin: 0 auto;
    }


    main #projects .feature img {
        border: none;
    }

    main #projects .feature ul {
        padding: 40px;
    }

    main #projects .feature p {
        padding: 10px;
    }

    main #projects .feature .project-container .project {
        height: auto;
    }
}

@media only screen and (max-width: 23.75rem) {
    main #projects .feature .project-container .project {
        padding: 10px 0;
    }
}


@media only screen and (max-width: 15.625rem) {
    
    main #projects .feature {
        margin: 0;
    }

    main #projects .feature .project-container {
        margin: 0;
    }
}



/*Social Media*/

main #social-media {
    width: 100%;
    margin: 150px 0;
    
}

main #social-media .github  {
    margin: 0 auto;
    width: 120px;
    height: 120px;
}





