/*Global*/



main {
    width: 50%;
    margin: 0 auto;

}




/*Profile Image*/

main .profile-container {
    width: 100%;
}
main .profile-container {
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

/*About me*/

main #about-me {
    margin-top: 50px;
}

/*Social Media*/

main #social-media {
    width: 100%;
    margin: 50px 0;
    
}

main #social-media .github  {
    margin: 0 auto;
    width: 120px;
    height: 120px;
}



