/*Global*/

body {
    
}

html {
    position: static;
}

h1 {
    text-align: center;
}

main {
    height: 100%;
}

/*Gallery*/



#gallery {
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-around;
    height: 700px;
    align-items: space-around;
    flex-wrap: wrap;
}
.feature {
    background-color: grey;
    width: 500px;
    height: 200px;
}




